<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>GIT - Impro diapo</title>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet/less" type="text/css" href="css/views/admin/preparation.less" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui/jquery-ui.css"/>

	<link rel="shortcut icon" HREF="images/Git_logo_rose.png" />

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/less.js"></script>
	<script type="text/javascript" src="js/screens/preparation/preparation.js"></script>
	<script type="text/javascript" src="js/screens/preparation/preparation.datas.js"></script>
	<script type="text/javascript" src="js/screens/preparation/preparation.updateLists.js"></script>
</head>
<body id="newImpro" class="admin">
	<h1>Préparation d'une impro</h1>

	<div id="back">
		<a href="/">Retour à l'accueil</a>
	</div>

	<form action="#" method="post" onsubmit="return false;">
		<div class="submitButton">
			<button class="submitChanges">Enregistrer les modifications</button>
		</div>

		<div id="categories">
			<h2>Liste des catégories <button onClick="newCategorie(); return false;">Ajouter</button></h2>
			<input type="hidden" name="action" value="update" />

			<span class="loading">Loading...</span>
			<ul id="categoriesList">
			</ul>
		</div>

		<div id="remerciements">
			<h2>Texte de remerciements (<span id="nb_max_chars"></span> caractères max)</h2>
			<h3>"Un grand merci : "</h3>
			<input type="hidden" id="remerciements_id" />
			<textarea id="remerciements_texte" name="remerciements_texte" cols="60" rows="2" maxlength="70">Loading...</textarea>
			<p id="textarea_remaining_chars"><span id="nb_remaining_chars"></span> caractères restants.</p>
		</div>

		<div id="dates">
			<h2>Prochaines dates <button onClick="newDate(); return false;">Ajouter</button></h2>
			<span class="loading">Loading...</span>
			<ul id="datesList">
			</ul>
		</div>

		<div class="submitButton">
			<button class="submitChanges">Enregistrer les modifications</button>
		</div>

	</form>


	<div id="hiddenClones" style="display : none;">
		<ul>
			<li class="ui-state-default" id="cat_clone">
				<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
				
				<span class="help id_tech" title="Id technique"></span>
				<input type="hidden" class="categorie_id" name="categorie_id[]" value="" />
				<input type="text" class="categorie_nom" name="categorie_nom[]" value="" />
				
				<span class="type">
					Type : 
					<select class="categorie_type" name="categorie_type[]">
					</select>
				</span>
				<span class="chemin">
					<span>
					Chemin :
					</span>
					<input type="text" class="categorie_path" name="categorie_path[]" value="" />
				</span>
				<span class="termine">
				</span>
				
				<a class="delete" href="#" onClick="removeCategorie($(this).parents('li')); return false;">
					[X]
				</a>
			</li>
			<li id="date_clone">
				<input type="hidden" class="date_date date_id_hidden" name="date_id[]" maxlength="10" placeholder="Date" value="" />
				<input type="text" class="date_date date_date_input" name="date_date[]" maxlength="10" placeholder="Date" value="" />
				<input type="text" class="date_nom date_nom_input" name="date_nom[]" maxlength="40" placeholder="Nom de l'évènement" value="" />
				<a class="delete" href="#" onClick="removeDate($(this).parents('li')); return false;">
					[X]
				</a>
			</li>
		</ul>
	</div>
	
</body>
</html>