#categories h1, #categorie h1 {
	text-align : center;
	margin-top : 20px;
	font-size : 10vh;
}

div#showCategories, div#showOneCategories {
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(244,244,244,1) 51%, rgba(198,198,198,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(51%,rgba(244,244,244,1)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 51%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */

	z-index : 99;
	width : 150px;
	padding-left : 30px;
}

div#showCategories {
	top : 100px;
	background: url('images/all-categories.png') no-repeat 5px center, -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(244,244,244,1) 51%, rgba(198,198,198,1) 100%); /* FF3.6+ */
	background: url('images/all-categories.png') no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(51%,rgba(244,244,244,1)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
	background: url('images/all-categories.png') no-repeat 5px center, -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 51%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
}

div#showOneCategories {
	background: url('images/one-categorie.png') no-repeat 5px center, -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(244,244,244,1) 51%, rgba(198,198,198,1) 100%); /* FF3.6+ */
	background: url('images/one-categorie.png') no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(51%,rgba(244,244,244,1)), color-stop(100%,rgba(198,198,198,1))); /* Chrome,Safari4+ */
	background: url('images/one-categorie.png') no-repeat 5px center, -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 51%,rgba(198,198,198,1) 100%); /* Chrome10+,Safari5.1+ */
	top : 60px;
}

#categories ul {
	width : 85%;
	margin : auto;
	text-align : center;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    z-index : 10;
}

#categories ul li {
	display : inline-block;
	font-size : 6.5vh;
	width : 98%;
	padding : 15px 20px;
	z-index : 10;
}

#categories ul li a {
	font-weight : bold;
}

#categories ul li a.termine {
	font-weight : normal;
	color : #aaa;
	text-decoration: line-through;
}

#categories ul li.transparent {
	opacity : 0;
}

.contentRegie #categories ul li.transparent {
	opacity : 0.3;
}






#categorie #selection_ok {
	top : 40px;
	right : 25px;
}

#categorie #integralite {
	top : 100px;
	right : 25px;
}

#categorie #cancel_selection {
	top : 140px;
	right : 25px;
	display : none;
}

#categorie #retour_noir {
	top : 40%;
	right : 25px;
	display : none;
	font-size : 22px;
	width : 70px;
	text-align : center;
}

#photoSound {
	top : 190px;
	right : 25px;
	position : absolute;
}

#photoSound img {
	height : 60px;
	cursor : pointer;
}



div#div_images {
	text-align: center;
}

#categorie ul {
	display : inline-block;
	width : 870px;
	margin : auto;
	text-align : center;
}

#categorie ul li {
	float : left;
	opacity : 1;

	width : 130px;
	line-height : 130px;
	height : 130px;
	margin : 20px;
	font-size: 80px;

	text-align : center;
	color : black;
	cursor : pointer;
	border : 2px outset #d4d4d4;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4b4b4+0,d4d4d4+24,e0e0e0+52,cacaca+79,b4b4b4+100 */
	background: rgb(180,180,180); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(180,180,180,1) 0%, rgba(212,212,212,1) 24%, rgba(224,224,224,1) 52%, rgba(202,202,202,1) 79%, rgba(180,180,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,180,180,1)), color-stop(24%,rgba(212,212,212,1)), color-stop(52%,rgba(224,224,224,1)), color-stop(79%,rgba(202,202,202,1)), color-stop(100%,rgba(180,180,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(180,180,180,1) 0%,rgba(212,212,212,1) 24%,rgba(224,224,224,1) 52%,rgba(202,202,202,1) 79%,rgba(180,180,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(180,180,180,1) 0%,rgba(212,212,212,1) 24%,rgba(224,224,224,1) 52%,rgba(202,202,202,1) 79%,rgba(180,180,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(180,180,180,1) 0%,rgba(212,212,212,1) 24%,rgba(224,224,224,1) 52%,rgba(202,202,202,1) 79%,rgba(180,180,180,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(180,180,180,1) 0%,rgba(212,212,212,1) 24%,rgba(224,224,224,1) 52%,rgba(202,202,202,1) 79%,rgba(180,180,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4b4b4', endColorstr='#b4b4b4',GradientType=1 ); /* IE6-9 */
	
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	
	-webkit-transition : box-shadow 0.5s linear, color 0.5s linear;
	transition : box-shadow 0.5s linear, color 0.5s linear;
}

#categorie ul li.selected {
	box-shadow : 0 0 10px #999, 0 0 20px #999, 0 0 30px #999;
	color : red;
}

#categorie #diapo {
	position : absolute;
	bottom : 10px;
	width : 75%;
	height : 80%;
	left : 50%;
	margin-left : -30%;
	text-align : center;
	display : none;
	opacity : 0;
}

#categorie #diapo img {
	max-width : 100%;
	max-height : 100%;
}


#categorie #diapo .mask {
	position : absolute;
	width : 50px;
	height : 50px;
	background-color : black;
	cursor : pointer;
}
