#intro {
	position: absolute;
	height: 100%;
    width: 100%;
	text-align : center;
}

#intro video {
    height: 95%;
    width: auto;
	margin-top : 1%;
}

.contentRegie #intro video {
	border : 1px solid white;
}


#intro #next {
	position : absolute;
	right : 5px;
	bottom : 5px;
}

#intro #playButton {
	position : absolute;
	left : 50%;
	width : 450px;
	margin-left : -225px;
	top : 5px;
}

#intro #playButton .button {
	float : left;
	position : relative;
	margin-right : 20px;
}