#disconnected {
	position : absolute;
	right : 10px;
	opacity : 0.5;
	display : none;
}

#disconnected img {
	width : 40px;
}

#access_debug {
	opacity : 0;
}


@keyframes blink {
    0% { -webkit-filter: drop-shadow(0 0 0 white); filter: drop-shadow(0 0 0 white); }
    50% { -webkit-filter: drop-shadow(0 0 10px white); filter: drop-shadow(0 0 10px white); }
    100% { -webkit-filter: drop-shadow(0 0 0 white); filter: drop-shadow(0 0 0 white); }
}

@-webkit-keyframes blink {
    0% { -webkit-filter: drop-shadow(0 0 0 white); filter: drop-shadow(0 0 0 white); }
    50% { -webkit-filter: drop-shadow(0 0 10px white); filter: drop-shadow(0 0 10px white); }
    100% { -webkit-filter: drop-shadow(0 0 0 white); filter: drop-shadow(0 0 0 white); }
}

#disconnected img {
    -webkit-animation: blink 2.0s linear infinite;
    -moz-animation: blink 2.0s linear infinite;
    -ms-animation: blink 2.0s linear infinite;
    -o-animation: blink 2.0s linear infinite;
    animation: blink 2.0s linear infinite;
}

#categorie #diapo.selectAll {
	margin-left : -37%;
}