body.admin {
	padding : 0 15px;
	overflow : auto;
}

body.admin h1 {
	text-align : center;
}

body.admin h2, body.admin h3 {
	margin-bottom : 0;
}

body.admin h3 {
	margin-top : 0;
}


.help {
	cursor : help;
}

.error {
	color : red;
}

body#newImpro #categories {
	width : 750px;
}
body#newImpro #categories li {
	padding : 2px 0 2px 20px;
	cursor : move;
	color : black;
}
body#newImpro #categories li span.ui-icon { 
	position: absolute; 
	margin-left: -17px; 
}

body#newImpro #categories li span.id_tech,
body#newImpro #categories li span.type {
	margin-right : 15px;
}
body#newImpro #categories li a.delete {
	float : right;
	margin-right : 10px;
	color : red;
}

body#newImpro #categories li span.id_tech { 
	padding : 0 7px 0 2px;
	min-width : 24px;
	text-align : right;
	float : left;
}


body#newImpro #back {
	margin-top : 40px;
}

body#newImpro #back a {
	padding : 3px 7px;
	border : 1px dotted white;
	border-radius : 3px;
	background-color : #222;
	font-weight : bold;
}

body#newImpro #back a:hover {
	background-color : #444;
}

body#newImpro p.important {
	font-weight : bold;
	font-size : 20px;
	margin : 5px 0 0 0;
}


input.date_date {
	width : 80px;
	text-align : center;
}

input.date_nom {
	width : 300px;
}

input#submitChanges {
	margin-top : 40px;
	font-size : 20px;
}

textarea#remerciements_texte {
	font-size : 20px;
}

p#textarea_remaining_chars {
	margin : 0;
	font-size : 14px;
	font-style : italic;
}


body#newImpro #dates li a.delete {
	margin-left : 10px;
	color : red;
}

span#nb_remaining_chars {
	color : red;
}