<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>GIT - Impro diapo - Categorie</title>
</head>
<body>

    <h1>Faire animation polaroid</h1>

    <div id="categorie_list" class="content_hidden" th:fragment="categorie_list">
        <h1>Catégories</h1>

        <div id="displayButtons">
            <button id="showOneCategory" class="small" onClick="categories.showNextCategory();">Afficher 1 catégorie</button>
            <button id="showCategories" class="small" onClick="categories.showAllCategories();">Afficher les catégories</button>
        </div>

        <div class="divAction">
            <button onClick="categorie_list.goToNextScreen();">&gt;&gt; Remerciements</button>
        </div>

        <ul id="categoryList">
        </ul>


        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie_list/categorie_list.js'"></script>

        <script type="text/javascript">
            let categories = new CategorieList("CATEGORIES", null, WEBSOCKET_CLIENT);
            SCREENS["CATEGORIES"] = categories;
        </script>
    </div>

</body>
</html>