<!doctype html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>GIT - Impro diapo - Categorie</title>
</head>
<body>

    <div id="categorie" class="content_hidden" th:fragment="categorie">

        <div id="category_selected" class="animated">
            <h1 class="title animated" style="text-align: left; margin-left: 10px;">Catégorie</h1>
            <div id="separator_category_selected_line1" class="separator_line hline"></div>
            <div id="separator_category_selected_line2" class="separator_line hline"></div>
            <div id="separator_category_selected_line3" class="separator_line vline"></div>
            <div id="category_selected_name" class="animated"></div>
        </div>

        <div id="categorie_title">
        </div>
        <div id="div_images">
        </div>
        <div id="div_one_image">
        </div>
        <div id="div_one_image_small">
        </div>
        <div id="div_mask">
            <div id="mask_1" class="mask"></div>
            <div id="mask_2" class="mask"></div>
            <div id="mask_3" class="mask"></div>
            <div id="mask_4" class="mask"></div>
            <div id="mask_5" class="mask"></div>
            <div id="mask_6" class="mask"></div>
            <div id="mask_7" class="mask"></div>
            <div id="mask_8" class="mask"></div>
            <div id="mask_9" class="mask"></div>
        </div>
        <div id="div_selectAllTarget">
            <img src="/images/logo/git_logo_rose_transparent_sans_texte.png" />
        </div>

        <div id="divCategoryActions">
            <div id="actionButtons">
                <button id="validateSelection" onClick="categorie.validateSelection();">Valider sélection</button>
                <button id="selectAll" onClick="categorie.selectAll();">Sélectionner tout</button>
                <button id="cancelSelect" onClick="categorie.cancelSelection();">Annuler la sélection</button>
                <button id="backToBlack" onClick="categorie.backToBlack();">Retour au noir</button>
                <button id="photoSound" title="Son photo" onClick="document.getElementById('photoSoundAudio').play();"><img src="/images/appareil_photo.png" /></button>
            </div>

            <audio id="photoSoundAudio">
                <source src="/handler/audios/ressources/appareil_photo_long.ogg" type="audio/ogg" />
                <source src="/handler/audios/ressources/appareil_photo_long.mp3" type="audio/mpeg" />
            </audio>
        </div>

        <div class="divAction">
            <button onClick="categorie.returnToCategorieList();">&gt;&gt; Liste des catégories</button>
        </div>

        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie/categorie.js'"></script>
        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie/categorie.animation.js'"></script>
        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie/categorie.animation.normal.js'"></script>
        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie/categorie.animation.triptyque.js'"></script>
        <script type="text/javascript" th:src="'/js/screens/' + ${side} + '/categorie/categorie.animation.polaroid.js'"></script>

        <script type="text/javascript">
            const CATEGORY_ANIMATION_OPACITY_DURATION = 2000;
            const CATEGORY_ANIMATION_VALIDATE_MOVE_DURATION = 1500;

            const categorie = new Categorie("CATEGORY", null, WEBSOCKET_CLIENT);
            SCREENS["CATEGORY"] = categorie;

        </script>
    </div>

</body>
</html>